html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  padding: 16px 12px;
  gap: 10px;
}

.menubar {
  width: 24px;
  height: 24px;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-right: 12px;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user {
  width: 24px;
  height: 24px;
}

.large-search {
  display: none;
}

.header-list-container {
  display: none;
}

/* slide section */
.slide {
  width: 100%;
}

/* loading section */
.loading-container {
  display: none;
}

/* service section */
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  padding-top: 30px;
}

.all-service {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 1px 1px 0 #000000;
  color: #383838;
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 31.4px;
  border: 1px solid black;
  padding: 10px 40px;
  gap: 10px;
}

.service-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.service-list-card {
  position: relative;
}

.design {
  width: 100%;
  height: 100%;
  object-fit: cover bottom;
  object-fit: cover;
  border-radius: 5%;
}

.service-item {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

/* hot service */
.hotService {
  padding-top: 30px;
}

.hot-service {
  background-color: #f0f0f0;
  padding: 20px 20px;
}

.hot-service-title {
  color: #383838;
  font-weight: 700;
  line-height: 19.2px;
  margin: 0 0 16px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid black;
}

.hot-service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 20px;
}

.hot-service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 10px 0;
}

.keeping {
  width: 48px;
  height: 48px;
}

/* open article */
.open-article-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
}

.open-article-title {
  color: #383838;
  flex-basis: 33.333%;
  font-size: 1.75rem;
  font-family: "san";
  line-height: 16.8px;
  padding: 48px 0 0 px;
  font-family: "San Francisco", Helvetica, Arial, san-serif;
}

.open-article-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.moving {
  width: 100%;
  border-radius: 5%;
}

.open-card-item-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.open-card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  border-bottom: 2px solid #f0f0f0;
}

.open-card-item-content {
  color: #383838;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 576px) {
  .small-search {
    display: none;
  }
  .header-right {
    gap: 10px;
  }
  .large-search {
    display: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #f0f0f0;
    padding: 10px 20px;
    gap: 10px;
  }
  .open-article-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .open-article-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .service-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hot-service-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding: 0 30px;
  }
  .hot-service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .menubar-image {
    display: none;
  }
  .header-container {
    padding: 0 30px;
  }
  .header-left {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .header-list-container {
    display: unset;
  }
  .header-list-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .header-list-container ul a {
    text-decoration: none;
    color: #383838;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.02px;
  }
  .slide {
    width: 100%;
    padding: 0 20px;
    border-radius: 5%;
  }
  .loading-container {
    display: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin: 40px 30px 0 30px;
  }
  .loading-list {
    padding: 16px 12px;
    border-top: 3px solid #f0f0f0;
  }
  .loading-list-red {
    padding: 16px 12px;
    border-top: 3px solid red;
  }
  .service-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    margin: 0 100px;
  }
  .all-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 140px;
    height: 140px;
    margin: 0;
  }
  .service-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
  .design {
    width: 140px;
    height: 140px;
    object-fit: cover bottom;
    object-fit: cover;
    border-radius: 5%;
  }
  .service-item {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: black;
  }
  .hot-service {
    padding: 20px 80px 40px 80px;
  }

  .hot-service-container {
    padding: 0 30px;
  }
}
